<div class="container">
  <div class="right">
    <h1>Sign up</h1>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :first_name %><br />
        <%= f.text_field :first_name, autofocus: true, :class => 'border-black'  %>
      </div>

      <div class="field">
        <%= f.label :last_name %><br />
        <%= f.text_field :last_name, :class => 'border-black'  %>
      </div>

      <div class="field">
        <%= f.label :country %><br />
        <%= f.text_field :country, :class => 'border-black'  %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, :class => 'border-black'  %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br/>
        <%= f.password_field :password, autocomplete: "off", :class => 'border-black'  %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", :class => 'border-black'  %>
      </div>

      <br/>

      <div class="actions">
        <%= f.submit "Sign up", :class => 'border-black'  %>
      </div>
      <p class="opacity-box"><a href="/users/password/new">Forgot your password?</a></p>
    <% end %>
  </div>

  <div class="landing-page-content">
    <p class="red-text">Whether you're a journalist or a <br/>defender of your homeland,<br/> by signing up you're helping to <br/>protect the most biodiverse, <br/>sacred, threatened places on Earth.</p>
  </div>
  <div style="clear: both;"></div>
</div>