<%= form_for @report do |form| %>
  <p>Headline: <br/><%= form.text_field :headline, :class => 'border-black' %></p>
  <p>Details: <br/><%= form.text_area :details, :class => 'border-black' %></p>
  <p>Location: <br/><%= form.text_field :location, :class => 'border-black' %></p>
  <p>Upload images, files, documents: <br/><%= form.text_field :image, :class => 'border-black' %></p>
  <%= form.submit "Submit report", :class => 'border-black' %>
<% end %>