<div class="container">
	<h1>Recent Reports</h1>

  <% @reports.each do |report| %>
	  <div class="report">
	  	<h2><%= report.headline %></h2>

			<img src="<%= report.image %>" class="border-black">
			<div class="report-info">
			
			<p><%= report.details %></p>
			<li>Location: <%= report.location %></li>

			<% @users.each do |user| %>
			  <% user.reports.each do |report|%>
				<li>Report made by <%= user.first_name %> <%= user.last_name %></li>
			  <% end %>
			<%end%>

			</div>

			<br/>
			<div class="report-links">
		  	<%= link_to 'View', report_path(report.id), :class => 'border-grey' %>
		  	<%= link_to 'Update this report', edit_report_path(report.id), :class => 'border-grey' %>
		  	<%= link_to 'Delete', report, :method => 'delete', :class => 'border-grey', :confirm => "Are you sure you want to delete this report?" %>
		  </div>
			<br/>

		</div>
  <% end %>

</div>



