<div class="container">
	<h1><%= @report.headline %></h1>
	<img src="<%= @report.image %>" class="border-black">
	<p> <%= @report.details %></p>
	<p> Location: <%= @report.location %></p>

	<% @users.each do |user| %>
	  <% user.reports.each do |report|%>
		<li>Report made by <%= user.first_name %> <%= user.last_name %></li>
		<br/>
	<div class="report-links">
		<% if @report.user_id = current_user[:id] %>
			<%= link_to 'Update this report', edit_report_path, :class => 'border-grey' %>
	  	<%= link_to 'Delete this report', report, :method => 'delete', :class => 'border-grey', :confirm => "Are you sure you want to delete this report?" %>
	  	<% else %>
	  	<p>you can't see this </p>
		<% end %>
  </div>
	  <% end %>
	<%end%>
</div>
