<!DOCTYPE html>
<html>
<head>
  <title>ReportApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<nav>
		<a href="/"><img src="../../logo.jpg"></a>
		<% if user_signed_in? %>
		  <span class="grey">Logged in as <%= current_user.first_name %> </span> 
		  <%= link_to "View all reports", reports_path %>
		  <%= link_to "New report", new_report_path %>
		  <%= link_to 'Profile', edit_user_registration_path %>
		  <%= link_to "Log out", destroy_user_session_path, method: :delete %>
		<% else %>
		  <%= link_to "Sign up", new_user_registration_path %>
		  <%= link_to "Log in", new_user_session_path  %>
		<% end %>
	</nav>

	<% if notice %>
	  <p class="alert alert-success"><%= notice %></p>
	<% end %>
	<% if alert %>
	  <p class="alert alert-danger"><%= alert %></p>
	<% end %>


	<%= yield %>
	<div style="clear: both;"></div>

	<footer><img src="/../../logo.jpg"> &copy; 2015</footer>

</body>
</html>
